body.body_effect_bottom {
	background-image: url(../images/background/bg_top.jpg),
		url(../images/background/bg_bottom.jpg);
}

body {
	background-color: #cccdc9;
	background-image: url(../images/background/bg_top.jpg),
		url(../images/background/bg_bottom.jpg);
}
/*background-image: url(../../images/background/bg_top.jpg);*/
